<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>
<body class="background-cars">
  <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12">
       <img class="logo-magenta" src="../assets/img/logo-magenta.png" alt="lyft">
     </div>
  </div>
 </div>
 <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <button id="login" class="btn btn-block btn-default" type="submit">LOG IN</button>
      <button id="signup" class="btn btn-block btn-default" type="submit">SIGN UP</button>
    </div>
 </div>
</div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/register.js"></script>
</body>
</html>
