<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>
<body class="back">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<button id="backward" type="button" class="btn btn-default" aria-label="Left Align">
					<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				</button>
				<h3 class="text-center">Sign Up</h3>
				<br>
				<h5 class="text-center">Join now for free ride credit</h5>
				<hr>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-5">
				<select class="form-control">
					<option value="México">México +52</option>
					<option value="Perú">Perú +51</option>
					<option value="Colombia">Colombia +57</option>
					<option value="Argentina">Argentina +54</option>
				</select>
			</div>
			<div class="col-xs-7">
				<input id="phone" type="text" class="form-control" maxlength="9">
			</div>
		</div>
	</div>
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h5 class="text-center">We'll send a text to verify your phone</h5>
				<br>
				<button id="next" class="btn btn-block btn-default" type="submit" disabled>NEXT</button>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/signup.js"></script>
</body>
</html>
