<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>
<body>
  <div class="container-fluid">
   <div class="row">
     <div class="col-xs-12">
       <button id="backward" type="button" class="btn btn-default" aria-label="Left Align">
         <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
       </button>
       <h3 class="text-center">Verify Number</h3>
       <br>
       <h5 class="text-center">Join now for free ride credit</h5>
       <hr>
       <h5 id="enter" class="text-center"></h5>
       <br>
     </div>
  </div>
 </div>
 <div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-2">
      <h5 class="text-center">LAB  -</h5>
    </div>
    <div class="col-xs-2">
      <input id="number1" type="text" class="form-control" maxlength="1">
    </div>
    <div class="col-xs-2">
      <input id="number2" type="text" class="form-control" maxlength="1">
    </div>
    <div class="col-xs-2">
      <input id="number3" type="text" class="form-control" maxlength="1">
    </div>
    </div>
    </div>
    <div class="container-fluid">
     <div class="row">
       <div class="col-xs-12">
         <h5 id="text" class="text-center"></h5>
       </div>
       </div>
       </div>
       <br>
       <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
       <button id="resend" type="button" class="btn btn-default">Resend code</button>
     </div>
     </div>
     </div>
     <br>
     <br>
     <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
     <button id="btnNext" class="btn btn-block btn-default media" type="submit" disabled>NEXT</button>
   </div>
   </div>
   </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/verify.js"></script>
</body>
</html>
